h1 {
    font-style: italic;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    font-family: 'Monaco', monospace;
    padding: 20px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    display: block;
}

button {
    padding: 10px;
    background-color: #4B17F6;
    color: white;
    border: none;
    cursor: pointer;
    margin: 8px 0;
}

button:hover {
    opacity: 0.8;
}

table {
    width: 100%;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}